@import "../../styles/colors.scss";

.pagination {
  display: flex;
  justify-content: center;
  gap: 24px;

  &__direction-button {
    width: 32px;
    height: 32px;

    color: $pagination__text;
    background-color: $pagination__bg;
    border: 1px solid $pagination__border;

    border-radius: 4px;

    cursor: pointer;

    transition: background-color 0.3s, opacity 0.3s;

    &--disabled {
      opacity: 0.3;

      cursor: default;
    }

    &:hover {
      color: $pagination__text--hover;
      background-color: $pagination__bg--hover;
    }
  }

  &__items {
    display: flex;
    gap: 10px;
  }

  &__item {
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: $pagination__text;
    background-color: $pagination__bg;

    border: 1px solid $pagination__border;
    border-radius: 4px;

    font-size: 12px;

    cursor: pointer;

    transition: background-color 0.3s;

    &--active {
      background-color: $pagination__bg--active;
      color: $pagination__text--active;
      border: 1px solid $pagination__border--active;
    }

    &:hover {
      color: $pagination__text--hover;
      background-color: $pagination__bg--hover;
    }
  }
}
