@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.person-card {
  position: relative;
  padding: 20px;
  background-color: transparent;
  border-radius: $default-border-radius;
  transition: transform 0.3s ease;

  color: $grey-primary;

  &:hover .person-card__background {
    background-color: $card__bg--hover;
    transform: scaleY(1.2);
    z-index: 0;
  }
  
  &:hover .person-card__button {
    opacity: 1;
  }

  &:hover .person-card__props {
    position: relative;
    z-index: 1;
  }

  &:hover .person-card__title {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__background {
    border: 1px solid $card__border;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: $card__bg;
    border-radius: $default-border-radius;
    z-index: -1;
    transform-origin: top;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  &__button {
    left: 20px;
    right: 20px;
    bottom: -16px;

    opacity: 0;
    position: absolute;
    padding: 8px 20px;

    z-index: 1;

    transition: opacity 0.3s ease, bottom 0.3s ease, background-color 0.3s ease;

    cursor: pointer;

    color: $button__text;
    background-color: $button__bg;
    
    border: none;
    border-radius: $button__border-radius;

    &:hover {
      background-color: $button__bg--hover;
    }
  }

  &__prop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__prop-name {
    color: $grey-primary;
  }
}
