$grey-primary: #212121;

$button__filled__text: #ffffff;
$button__filled__bg: #212121;
$button__filled__bg--hover: #3a3a3a;
$button__outlined__text: #212121;
$button__outlined__bg: #ffffff;
$button__outlined__border: #212121;
$button__outlined__bg--hover: #e0e0e0;

$pagination__text: #212121;
$pagination__text--active: #ffffff;
$pagination__text--hover: #ffffff;
$pagination__bg: #ffffff;
$pagination__bg--active: #212121;
$pagination__bg--hover: #212121;
$pagination__border: #5e5e5e;
$pagination__border--active: #212121;

$card__bg: #f8f8f8;
$card__bg--hover: #f1f1f1;
$card__border: #e4e4e4;
$card__prop-name: #585858;

$person-page__title-bg: #ebebeb;
$person-page__section-border: #cccccc;
$person-page__prop-bg: #f7f7f7;
$person-page__prop-name: #585858;

$node__bg: #fcfcfc;
$node__header-bg: #ebebeb;
$node__border: #b8b8b8;
$node__prop-name: #585858;
