.main-page {
  &__loading-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    padding-block: 30px;
  }

  &__pagination-wrapper {
    margin-block: 60px;
  }
}