.main-page {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 880px) {
      margin-bottom: 20px;
      flex-direction: column;
    }
  }

  &__loading-wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    padding-block: 30px;
  }

  &__pagination-wrapper {
    margin-block: 30px;
  }
}