@import "../../styles/variables.scss";
@import "../../styles/colors.scss";

.person-page {
  padding-top: 30px;

  &__grid {
    display: grid;
    grid-template-columns: 2fr 5fr;
    column-gap: 20px;

    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }
  }

  &__info {
    border: 1px solid $person-page__section-border;
    border-radius: $default-border-radius;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__info-buttons {
    margin: 0 16px 16px;

    display: flex;
    justify-content: space-between;
  }

  &__info-button {
    padding: 10px 20px;

    border: none;
    border-radius: $button__border-radius;

    color: $button__filled__text;
    background-color: $button__filled__bg;

    cursor: pointer;

    transition: background-color 0.3s;

    &:hover {
      background-color: $button__filled__bg--hover;
    }
  }

  &__title {
    border-top-left-radius: $default-border-radius;
    border-top-right-radius: $default-border-radius;
    padding-block: 16px;

    background-color: $person-page__title-bg;
  }

  /* #region PROPS */

  &__props {
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__prop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    border-radius: $default-border-radius;
    padding: 10px 12px;
    background-color: $person-page__prop-bg;
  }

  &__prop-name {
    color: $person-page__prop-name;
  }

  &__prop-value {
    font-weight: 500;
  }

  /* #endregion */

  &__graph-wrapper {
    height: 700px;

    border: 1px solid $person-page__section-border;
    border-radius: $default-border-radius;
  }

  &__loading-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
