@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.node {
  height: 100%;
  border: 1px solid $node__border;

  display: flex;
  flex-direction: column;

  border-radius: $default-border-radius;

  background-color: $node__bg;

  &__header {
    width: 100%;

    padding: 4px 8px;

    text-align: left;

    border-top-left-radius: $default-border-radius;
    border-top-right-radius: $default-border-radius;

    background-color: $node__header-bg;

    font-weight: 600;
    font-size: 10px;
  }

  &__props {
    padding: 6px 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:5px;

    font-size: 9px;
  }

  &__prop {
    display: flex;
    justify-content: space-between;
  }

  &__prop-name {
    color: $node__prop-name;
  }

  &__prop-value {
    text-align: right;
  }
}